<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/45142689e7.js" crossorigin="anonymous"></script>
  <title>Tech Blog</title>
</head>
<body class="bg-gray-200 color-black">
  <nav class="flex items-center justify-between flex-wrap p-6 fixed w-full z-10 top-0">
		<div class="flex items-center flex-shrink-0 text-white mr-6">
<div class="block lg:hidden">
			<button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-white hover:border-white">
				<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Home</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
			</button>
		</div>
        <!-- Nav links with icons, change with hover -->
                    {{#if logged_in}}
		<div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block pt-6 lg:pt-0" id="nav-content">
			<ul class="list-reset lg:flex justify-end flex-1 items-center">
				<li class="mr-3">
					<a class="inline-block text-gray-300 no-underline hover:text-gray-50 hover:text-underline py-2 px-4 text-lg" href="/"><i class="fa-solid fa-house"></i> Home</a>
				</li>
                				<li class="mr-3">
					<a class="inline-block text-gray-300 no-underline hover:text-gray-50 hover:text-underline py-2 px-4 text-lg" href="/dashboard"><i class="fa-solid fa-heart"></i> Dashboard</a>
				</li>
        				<li class="mr-3">
					<a class="inline-block text-gray-300 no-underline hover:text-gray-50 hover:text-underline py-2 px-4 text-lg" href="/logout"><i class="fa-solid fa-user-slash"></i> Logout</a>
				</li>
        
            {{else}}
            				<li class="mr-3">
					<a class="inline-block text-gray-300 no-underline hover:text-gray-50 hover:text-underline py-2 px-4 text-lg" href="/"><i class="fa-solid fa-house"></i> Home</a>
				</li>
                    	<li class="mr-3">
					<a class="inline-block text-gray-300 no-underline hover:text-gray-50 hover:text-underline py-2 px-4 text-lg" href="/login"><i class="fa-solid fa-user-plus"></i> Login/Sign Up</a>
				</li>
            {{/if}}
			</ul>
		</div>
	</nav>
  
    <main class="container">
          {{{ body }}}
    </main>

    <footer>
      
    </footer>
  </div>


  {{#if logged_in}}
  <script src="/logout"></script>
  {{/if}} 
</body>

</html>

